<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/gossips">Derniers potins</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/gossips/new">Ajouter un potin<%= render 'gossips/form' %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">L'équipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<br>
<br>

<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Bienvenu.e.s à Gossip project !</h1>
      <p>À The Hacking Project, il se passe plein de choses entre les moussaillons. Il faut donc créer une plate-forme où tout le monde peut venir écrire des gossips, les éditer, et même les détruire. Et pour commérer à fond, on mettra en place un système de commentaires de potins.</p>
      <p><a class="btn btn-primary btn-lg" href="https://www.thehackingproject.org/fr/dashboard/courses/1/projects/18" role="button">Learn more »</a></p>
    </div>
  </div>
</main>

<div id="<%= dom_id @gossip %>">
  <p>
    <strong>Title:</strong>
    <%= gossip.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= gossip.author %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= gossip.content %>
  </p>

</div>
</body>
